<h1>Ćwiczenia z *ngFor</h1>

<h2>1. Wypisz tablicę 'frameworsk' za pomocą *ngFor i dodaj index:</h2>
<ul>
  <li>
    uzupełnij
  </li>
</ul>

<br />

<h2>2. Wypisz model i markę samochodu z tablicy 'cars' za pomocą *ngFor:</h2>
<ul>
  <li>uzupełnij</li>
</ul>

<br />

<h2>
  3. Wypisz model i markę samochodu z obiektu 'carsObj' za pomocą *ngFor i pipe
  keyvalue:
</h2>
<ul>
  <li>
    uzupełnij
  </li>
</ul>

<br />

<h2>
  4. Wypisz z tablicy 'frameworsk' tylko pierwszy i ostatni element. Dodatkowo
  należy użyć *ngIf:
</h2>
<ul>
  <ng-container>
    <li>uzupełnij</li>
    <li>uzupełnij</li>
  </ng-container>
</ul>

<h2>
  5. Wypisz z tablicy 'frameworsk' elementy, które mają parzysty indeks.
  Dodatkowo należy użyć *ngIf (jeżeli już wiesz jak używać):
</h2>
<ul>
  <ng-container>
    <li>uzupełnij</li>
  </ng-container>
</ul>

<h2>
  6. Wypisz z w pętli obiektu 'persons' dla każdego użytkownika: Id, name, city,
  company name:
</h2>
<ul>
  <li>
    uzupełnij
  </li>
</ul>
